OpenID Connect specification non-conformance

**OpenID Connect specification non-conformance**
The redirect URI for the Open ID Connect endpoint includes a fragment (OAuth 2.0 / RFC 6749)
https://datatracker.ietf.org/doc/html/rfc6749#section-3.1.2  

```
The redirection endpoint URI MUST be an absolute URI as defined by
[RFC3986] Section 4.3.  The endpoint URI MAY include an
"application/x-www-form-urlencoded" formatted (per Appendix B) query
component ([RFC3986] Section 3.4), which MUST be retained when adding
additional query parameters.  The endpoint URI MUST NOT include a
fragment component.
```

**Additional context**
This is preventing connection to the Microsoft Azure Active Directory OpenID endpoint.
![Example screenshot](https://user-images.githubusercontent.com/27196895/129484394-400c2c2f-40d3-4fe1-9211-dc2a62900aac.png)



The `#` symbol in the provided URL is used by Angular for internal view routing. Because Angular is a single page application, the `#` is used in URLs as client-side navigation fragments to switch between component views. The hash location strategy does usually cause issues with external URLs though (e.g. SEO) because of the fact they are client-side only.

It is possible to setup a new page route with a direct URL which will internally navigate to the correct component to continue authorization.

@oughnic This change has been merged to the `develop` branch now. Once you have a release including this fix, the redirect URL will now be:

```
https://{domain}/redirects/open-id-connect-redirect.html
```